<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/recipes">
      <p>Recipe Name: <input id="name" type="text" name="name"></p>
      <p>Ingredients: <input id="ingredients" type="text" name="ingredients"></p>
      <p>Cook Time: <input id="cook_time" type="text" name="cook_time"></p>
      <input type=submit id="submit" />
     </form>
  </body>
</html>
