<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create New Recipe</h1>
    <form class="" action="/recipes" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" value=""><br><br>
      <label for="name">Ingredients</label>
      <input type="text" name="ingredients" value=""><br><br>
      <label for="name">Cook Time</label>
      <input type="text" name="cook_time" value="">
      <button type="submit">Create</button>
    </form>

  </body>
</html>